<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tanhoda admin" verbose="2" parallel="methods"
	Thread-count="1">
	<test name="Loginsuccessful">
		<classes>
			<class name="Kam.tanhoda.login.Verify_login_successful">
			</class>
		</classes>
	</test>
	<test name="Loginunsuccessful with invalid password">
		<classes>
			<class name="Kam.tanhoda.login.Verify_login_with_invalidpassword">
			</class>
		</classes>
	</test>
	<test name="Loginunsuccessful with invalid username">
		<classes>
			<class name="Kam.tanhoda.login.Verify_login_with_invalidusername">
			</class>
		</classes>
	</test>
	<test name="Verify the district name add in data table">
		<classes>
			<class name="Kam.tanhoda.Verify_district_Add_Data_table">
			</class>
		</classes>
	</test>
	<test name="district add functionality">
		<classes>
			<class name="Kam.tanhoda.district.District_Add_Successful">
			</class>
		</classes>
	</test>
	<test name="verify the district name already exist">
		<classes>
			<class name="Kam.tanhoda.district.Verify_district_add_alreadyexistname">
			</class>
		</classes>
	</test>
	<test name="district edit functionality">
		<classes>
			<class name="Kam.tanhoda.district.Verify_successful_edit_districtname">
			</class>
		</classes>
	</test>
	<test name=" edit already exist district name">
		<classes>
			<class name="Kam.tanhoda.district.Verify_district_edit_alreadyexistname">
			</class>
		</classes>
	</test>
	<test name="Deactive button">
		<classes>
			<class name="Kam.tanhoda.district.Verify_DeActivatebutton">
			</class>
		</classes>
	</test>
	<test name="Active button">
		<classes>
			<class name="Kam.tanhoda.district.Verify_Activebutton">
			</class>
		</classes>
	</test>
	<test name="block add successful">
		<classes>
			<class name=" Kam.tanhoda.block.Block_Add_Successful">
			</class>
		</classes>
	</test>
	<test name="verify block added data in data table">
		<classes>
			<class name=" Kam.tanhoda.block.Verify_block_Add_Data_table">
			</class>
		</classes>
	</test>
	<test name="verify already exist block name">
		<classes>
			<class name=" Kam.tanhoda.block.Verify_block_add_alreadyexistname">
			</class>
		</classes>
	</test>
	<test name="successful edit block name">
		<classes>
			<class name=" Kam.tanhoda.block.Verify_successful_edit_blockname">
			</class>
		</classes>
	</test>
	<test name=" edit already exist block name">
		<classes>
			<class name=" Kam.tanhoda.block.Verify_block_edit_alreadyexistname">
			</class>
		</classes>
	</test>
	<test name=" Deactive">
		<classes>
			<class name=" Kam.tanhoda.block.Verify_DeActivatebutton">
			</class>
		</classes>
	</test>
	<test name="Active">
		<classes>
			<class name=" Kam.tanhoda.block.Verify_Activebutton">
			</class>
		</classes>
	</test>
	<test name="village add successful">
		<classes>
			<class name=" Kam.tanhoda.Village.Village_Add_Successfull">
			</class>
		</classes>
	</test>
	<test name="Verify village added in data table ">
		<classes>
			<class name=" Kam.tanhoda.Village.Verify_Village_Add_Data_table">
			</class>
		</classes>
	</test>
	<test name="Verify village added alreadyexist">
		<classes>
			<class name=" Kam.tanhoda.Village.Verify_village_add_alreadyexistname">
			</class>
		</classes>
	</test>
	<test name=" village edit successful">
		<classes>
			<class name=" Kam.tanhoda.Village.Verify_successful_edit_villagename">
			</class>
		</classes>
	</test>
	<test name=" Edit already exist village name">
		<classes>
			<class name=" Kam.tanhoda.Village.Verify_village_edit_alreadyexistname">
			</class>
		</classes>
	</test>
	<test name="deactivate">
		<classes>
			<class name=" Kam.tanhoda.Village.Verify_DeActivatebutton">
			</class>
		</classes>
	</test>
	<test name="Activate">
		<classes>
			<class name=" Kam.tanhoda.Village.Verify_Activebutton">
			</class>
		</classes>
	</test>
	<test name="usermanagement Add Successful">
		<classes>
			<class name="Kam.tanhoda.usermanagement.Usermanagement_add_successsful">
			</class>
		</classes>
	</test>
	<test name="Veify usermanagement Added data in data table">
		<classes>
			<class
				name="Kam.tanhoda.usermanagement.Verify_usermanagement_add_Data_Table">
			</class>
		</classes>
	</test>
	<test name="Add Already Exist usermanagement ">
		<classes>
			<class name="Kam.tanhoda.usermanagement.Usermanagement_add_alreadyexist">
			</class>
		</classes>
	</test>
	<test name="usermanagement view function ">
		<classes>
			<class name="Kam.tanhoda.usermanagement.Usermanagement_view_function">
			</class>
		</classes>
	</test>
	<test name="usermanagement edit Successful ">
		<classes>
			<class name="Kam.tanhoda.usermanagement.Usermanagement_edit_successful">
			</class>
		</classes>
	</test>
	<test name="Edit Already exist usermanagement">
		<classes>
			<class
				name="Kam.tanhoda.usermanagement.Usermanagement_edit_alreadyexistname">
			</class>
		</classes>
	</test>
	<test name="usermanagement Deactive">
		<classes>
			<class name="Kam.tanhoda.usermanagement.Usermanagement_Deactivebuttton">
			</class>
		</classes>
	</test>
	<test name="usermanagement Active">
		<classes>
			<class name="Kam.tanhoda.usermanagement.Usermanagement_Active">
			</class>
		</classes>
	</test>
	<test name="Farmermanagement Active">
		<classes>
			<class name="Kam.tanhoda.Farmermanagement.Farmermanagement_Active">
			</class>
		</classes>
	</test>
	<test name="Farmermanagement Deactive">
		<classes>
			<class name="Kam.tanhoda.Farmermanagement.Farmermanagement_Deactive">
			</class>
		</classes>
	</test>
	<test name="Farmermanagement Edit Successful">
		<classes>
			<class
				name="Kam.tanhoda.Farmermanagement.Farmermanagement_edit_successful">
			</class>
		</classes>
	</test>
	<test name="Farmermanagement View Function">
		<classes>
			<class name="Kam.tanhoda.Farmermanagement.Farmermanagement_view_Function">
			</class>
		</classes>
	</test>
	<test name="Add scheme successful">
		<classes>
			<class name="Kam.tanhoda.scheme.Scheme_add_successful">
			</class>
		</classes>
	</test>
	<test name="Verify scheme Add in data table">
		<classes>
			<class name="Kam.tanhoda.Verify_scheme_add_data_table">
			</class>
		</classes>
	</test>
	<test name="Verify scheme Added already exist name">
		<classes>
			<class name="Kam.tanhoda.Scheme_Add_alreadyexist">
			</class>
		</classes>
	</test>
	<test name="View function">
		<classes>
			<class name="Kam.tanhoda.Scheme_viewbutton">
			</class>
		</classes>
	</test>
	<test name="edit scheme successful">
		<classes>
			<class name="Kam.tanhoda.Scheme_edit_successful">
			</class>
		</classes>
	</test>
	<test name="edit scheme already exist">
		<classes>
			<class name="Kam.tanhoda.Scheme_edit_already_exist">
			</class>
		</classes>
	</test>
	<test name="Deactive button">
		<classes>
			<class name="Kam.tanhoda.Scheme_Deactivebutton">
			</class>
		</classes>
	</test>
	<test name="Active button">
		<classes>
			<class name="Kam.tanhoda.Scheme_Activebutton">
			</class>
		</classes>
	</test>
	<test name="Component add successful">
		<classes>
			<class name="Kam.tanhoda.component.Component_add_function">
			</class>
		</classes>
	</test>
	<test name="Verify Component add in data table">
		<classes>
			<class name="Kam.tanhoda.component.Verify_component_Add_data_table">
			</class>
		</classes>
	</test>
	<test name="added Component already exist">
		<classes>
			<class name="Kam.tanhoda.component.Component_add_alreadyexist">
			</class>
		</classes>
	</test>
	<test name="edited Component added successful">
		<classes>
			<class name="Kam.tanhoda.component.Component_edit_successful">
			</class>
		</classes>
	</test>
	<test name="edited Component already exist">
		<classes>
			<class name="Kam.tanhoda.component.Component_edit_alreadyexist">
			</class>
		</classes>
	</test>
	<test name="Component deactivebutton">
		<classes>
			<class name="Kam.tanhoda.component.Component_Deactivebutton">
			</class>
		</classes>
	</test>
	<test name="Component Activebutton">
		<classes>
			<class name="Kam.tanhoda.component.Component_activebutton">
			</class>
		</classes>
	</test>
	<test name="Subcomponent Add successful">
		<classes>
			<class name="Kam.tanhoda.subcomponent.Subcomponent_add_successful">
			</class>
		</classes>
	</test>
	<test name="Verify Subcomponent Add in data table">
		<classes>
			<class name="Kam.tanhoda.subcomponent.Verify_subcomponent_add_data_table">
			</class>
		</classes>
	</test>
	<test name="Verify Subcomponent Added already exist">
		<classes>
			<class name="Kam.tanhoda.subcomponent.Subcomponent_add_alreadyexist">
			</class>
		</classes>
	</test>
	<test name="Subcomponent view function">
		<classes>
			<class name="Kam.tanhoda.subcomponent.Subcomponent_viewfunction">
			</class>
		</classes>
	</test>
	<test name="Subcomponent edit successful">
		<classes>
			<class name="Kam.tanhoda.subcomponent.Subcomponent_edit_successful">
			</class>
		</classes>
	</test>
	<test name="Subcomponent edit already exist">
		<classes>
			<class name="Kam.tanhoda.subcomponent.Subcomponent_edit_alreadyexist">
			</class>
		</classes>
	</test>
	<test name="Subcomponent Deactivebutton">
		<classes>
			<class name="Kam.tanhoda.subcomponent.Subcomponent_Deactivebutton">
			</class>
		</classes>
	</test>
	<test name="Subcomponent Activebutton">
		<classes>
			<class name="Kam.tanhoda.subcomponent.Subcomponent_activebutton">
			</class>
		</classes>
	</test>
	<test name="Proposed crop add successful ">
		<classes>
			<class name=" Kam.tanhoda.proposedcrop.proposedcrop_add_successful">
			</class>
		</classes>
	</test>
	<test name="Verify Proposed crop added successful in data table">
		<classes>
			<class name=" Kam.tanhoda.proposedcrop.Verify_proposedcrop_add_data_table">
			</class>
		</classes>
	</test>
	<test name="Verify Proposed crop added already exist">
		<classes>
			<class name=" Kam.tanhoda.proposedcrop.Proposedcrop_add_altreadyexist">
			</class>
		</classes>
	</test>
	<test name="Verify Proposed crop view function">
		<classes>
			<class name=" Kam.tanhoda.proposedcrop.Proposedcrop_viewfunction">
			</class>
		</classes>
	</test>
	<test name="Verify Proposed crop edit successful">
		<classes>
			<class name=" Kam.tanhoda.proposedcrop.Proposedcrop_edit_successful">
			</class>
		</classes>
	</test>
	<test name="Verify Proposed crop edited already successful">
		<classes>
			<class name=" Kam.tanhoda.proposedcrop.Proposed_crop_edit_alreadyexist">
			</class>
		</classes>
	</test>
	<test name="Verify Proposed crop deactive button">
		<classes>
			<class name=" Kam.tanhoda.proposedcrop.Proposedcrop_Deactivebutton">
			</class>
		</classes>
	</test>
	<test name="Verify Proposed crop Active button">
		<classes>
			<class name=" Kam.tanhoda.proposedcrop.proposedcrop_Activebutton">
			</class>
		</classes>
	</test>
</suite>
